label span{
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.mapper-localize-area{
    right: 0;
    top: 0;
    position: fixed;
    color: #000;
    height: 100%;
    background: #fff;
    z-index: 999999;
	box-shadow: -2px 1px 10px #888888;
	font-family: 'Museo Sans 300';
}
.mapper-localize-area-gird{
    height: auto;
    bottom: 0;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mapper-localize-active{
    background: #ffff00;
    color: #000000;
}

.mapper-localize-text-item{
    padding: 5px;
}
.mapper-localize-text-item >*{
    vertical-align: top;
}
.mapper-localize-text-item:hover .remove-link{
    display: inline-block;
}
.mapper-localize-text-item:hover{
    background: #cdcdcd;
}
.mapper-localize-text-item.invalid input{
    border: 1px solid red;
}

.remove-link{
    width: 15px;
    height: 15px;
    border-radius: 8px;
    position: relative;
    display: none;
    margin-left: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #ffffff,0 0 1em #fff,0 0 1em #fff;
    color: #ec0000;
}
.text-value-edit{
    width: 175px;
}

.mapper-localize-text-item.inactive{
    display: none;
}
.hidden{
    display: none;
}

.mapper-localize-area-toolbar{
    background:rgb(100, 126, 122);
    padding: 5px;
    position: relative;
    z-index: 1;
	padding: 10px 5px;
}
.mapper-localize-area-toolbar a{
    padding: 3px 5px;
    background: #eee;
    margin: 2px;
    color: black;
    border-radius: 3px;
    text-decoration: none !important;
    cursor: pointer;
}
.mapper-localize-area-toolbar a:hover{
    background: #fff;
}